---
layout: default
---

<div class="row">
  <div class="col-md-8 mb-5">
    <h2>What We Do</h2>
    <hr />
    <p>
      At Satnam Brothers Bus Body Builders, we specialize in designing and manufacturing high-quality bus bodies tailored to meet the unique needs of our clients. 
      With years of experience in the industry, we leverage advanced technology and skilled craftsmanship to deliver robust, durable, and 
      aesthetically pleasing bus bodies. Our team of experts works closely with clients to ensure that each bus is customized to their specifications, 
      from the layout and seating arrangements to safety features and finishing touches.
    </p>
    <p>
      We pride ourselves on our commitment to excellence and innovation. 
      Our state-of-the-art facilities in Bhopal, MP, are equipped with the latest tools and machinery, 
      enabling us to produce bus bodies that not only meet but exceed industry standards. 
      Whether it's for public transportation, school buses, or luxury coaches, 
      Satnam Brothers delivers superior quality and reliability, ensuring passenger comfort and safety on every journey.
    </p>
    <a class="btn btn-primary btn-lg" href="tel:+919893376433">Call Us &raquo;</a>
  </div>
  {% include sidebar.html %}
</div>
<!-- /.row -->
<div class="row">
{% for work in site.data.works %}
  <div class="col-md-4 mb-5">
    <div class="card border-0 shadow h-100">
      <img class="card-img-top" src="{{ work.image }}" alt="" />
      <div class="card-body">
        <h4 class="card-title">{{ work.title | xml_escape }}</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio quos eos cumque, soluta officia molestias amet quidem esse provident, earum nobis placeat fugit, ipsa repellat libero possimus beatae accusamus dignissimos.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- /.row -->

{% include map.html %}